body {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    min-height: 100vh;
    width: 100vw;
    font-size: 16px;
}

#root {
    min-height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

nav {
    padding: 1em;
    padding-top: 3em;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-weight: 300;
}

h2 {
    margin: 0;
    padding: 0;
    padding-bottom: 2em;
    font-size: 1em;
    font-weight: 200;
    text-align: center;
}

p {
    margin: 0;
    padding: 0;
}

input {
    width: 2em;
}

.decrease {
    background-color: rgb(67, 155, 171);
    border: none;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    padding: 0.2em 0.6em;
}

.increase {
    background-color: rgb(67, 155, 171);
    border: none;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    padding: 0.2em 0.6em;
}

.submit {
    background-color: rgb(67, 155, 171);
    border: none;
    border-radius: 0.5em;
    padding: 0.5em 1em;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    width: 100%;
}

li {
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.company {
    text-align: center;
    font-size: 2em;
    padding-top: 1.5em;
}

.nav-link {
    text-decoration: none;
    color: black;
    background-color: rgb(67, 155, 171);
    border: 1px solid black;
    border-radius: 1em;
    padding: 1em 2em;
    width: 100%;
    text-align: center;
}

.home {
    display: flex;
    justify-content: center;
    gap: 2em;
    padding: 2em 1em;
}

.home-image {
    width: 45%;
    border: 5px solid rgb(67, 155, 171);
}

.cart-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 2em;
}

.item-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    padding: 2em;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    padding: 1em 0;
    gap: 0.6em;
}

.cart {
    width: 50%;
}

.list-item-image {
    width: 20%;
}

@media screen and (max-width: 767px) {
    .company {
        font-size: 1.5em;
    }

    .nav-link {
        padding: 1em 0.5em;
    }

    .home {
        flex-direction: column;
        align-items: center;
    }

    .home-image {
        width: 100%;
    }
    
    .cart {
        width: 100%;
    }

    .item-list {
        display: flex;
        flex-direction: column;
    }
}